<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClaseRutinas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClaseRutinas.Properties.Settings>
            <setting name="ClaseRutinas_InterfazCavali_InputService040032_WS_Dim_04003_Registrar_inf_adicional"
                serializeAs="String">
                <value>http://localhost:60674/WS_Dim_04003_Registrar_inf_adicional.asmx</value>
            </setting>
        </ClaseRutinas.Properties.Settings>
    </applicationSettings>
</configuration>