@using (Html.BeginForm("subir", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <br />
    <input type="file" name="file" />
    <br />
    <input type="file" name="file" />
    <br />
    <button type="submit">Subir archivo</button>
}